{% extends 'base.html.twig' %}

{% block title %}My pastes{% endblock %}

{% block body %}
    <div class="my-pasts-panel">
        <div>My pastes</div>
        {% for paste in pastes %}
            <div class="paste">
                <a href="{{ paste.link }}">{{ paste.name ?? paste.hash }}</a>
            </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}