{% extends 'base.html.twig' %}

{% block title %}Paste{% endblock %}

{% block body %}
<div class="paste">
    <div class="name">{{ paste.name }}</div>
    <div class="text">{{ paste.text }}</div>
    <div class="text">{{ paste.expirationTime.name }}</div>
</div>
{% endblock %}